@using Softumus.MarkdownBlog
<ul class="nav nav-pills">
    <li><a href="/All" title="All posts"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="/About" title="About me"><span class="glyphicon glyphicon-user"></span></a></li>
    <li><span class="note">@Config.Title</span></li>
</ul>