@{
    ViewBag.Title = "About";
}

<ul class="about-links">
    <li><a class="thumbnail" href="http://www.linkedin.com/in/chopikadze"><img src="/Content/linkedin.png"/></a></li>
    <li><a class="thumbnail" href="http://stackoverflow.com/users/776448/chopikadze"><img src="/Content/stackoverflow.png"/></a></li>
    <li><a class="thumbnail" href="http://twitter.com/chopikadze"><img src="/Content/twitter.png"/></a></li>
    <li><a class="thumbnail" href="https://plus.google.com/110812487086264984215"><img src="/Content/google.png"/></a></li>
</ul>