@using System.Web.UI.WebControls
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - george.softumus.com</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/Content/site.css">
    </head>
    <body>
        
        <div class="container">
            <ul class="nav nav-pills top-navigation">
                <li><a href="/All" title="All pages"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="/About" title="About me"><span class="glyphicon glyphicon-user"></span></a></li>
            </ul>
            <div>
                <h2>@ViewBag.Title</h2>
                @RenderBody()                
            </div>
        </div>

        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    </body>
</html>
