<ul class="nav nav-pills">
    <li><a href="/All" title="All pages"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="/About" title="About me"><span class="glyphicon glyphicon-user"></span></a></li>
    <li><span class="note">Keep on smiling, my friends!</span></li>
</ul>