@model Softumus.Blog.Models.AllPagesModel

@{
    ViewBag.Title = "All pages";
}

<ul>
@foreach (var descr in Model.PageDescriptions)
{
    <li>
        <p>@descr.DateTime.ToString("yyyy-MM-dd")</p>
        <h3><a href="@descr.Url">@descr.Title</a></h3>
    </li>
}
</ul>