@model Softumus.MarkdownBlog.Models.AllPagesModel

@{
    ViewBag.Title = "All pages";
}

<ul class="nav nav-pills nav-stacked">
@foreach (var descr in Model.PageDescriptions)
{
    <li>
        <a href="@descr.Url">
            <span class="page-dt">@descr.DateTime.ToString("yyyy-MM-dd")</span>
            @descr.Title
        </a>
    </li>
}
</ul>